<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <%= __('name') %>* </label>

  <div class="col-sm-9">
    <input type="text" name="name" value="<%= restaurant.name %>" placeholder="<%= __('name') %>"
           class="col-xs-10 col-sm-5" autocomplete="off"/>
  </div>
</div>


<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <%= __('description') %> </label>

  <div class="col-sm-9">
    <textarea name="description" class="col-xs-10 col-sm-5" placeholder=" <%= __('description') %>"><%= restaurant.description %></textarea>
  </div>
</div>









