<div class="page-header">
  <h1>
    Items

    <a href="/items/new" style="float: right;">
      <button class="btn btn-primary">Nuevo item</button>
    </a>
  </h1>
</div><!-- /.page-header -->

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
      <div class="col-xs-12">
        <table id="simple-table" class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th class="center">
              <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
              </label>
            </th>
            <th>Nombre</th>
            <th>Description</th>
            <th class="hidden-480">Price</th>

            <th class="hidden-480">Status</th>

            <th></th>
          </tr>
          </thead>

          <tbody>

          <% for(var i = 0; i < items.length; i++) { %>
          <tr>
            <td class="center">
              <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
              </label>
            </td>

            <td>
              <%= items[i].name %>
            </td>
            <td><%= items[i].description %></td>
            <td class="hidden-480"><%= items[i].price %></td>

            <td class="hidden-480">
              <span class="label label-sm label-warning"><%= items[i].active %></span>
            </td>

            <td>
              <div class="hidden-sm hidden-xs btn-group">



                <a href="/items/<%= items[i].id %>/edit">
                  <button class="btn btn-xs btn-info">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                  </button>
                </a>



                <form action="/api/destroy/items/<%= items[i].id %>" method="post" style="float: right;">
                  <button type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?')">
                    <i class="fa fa-times"></i>
                  </button>
                </form>






              </div>

              <div class="hidden-md hidden-lg">
                <div class="inline pos-rel">
                  <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"
                          data-position="auto">
                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                  </button>

                  <ul
                    class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">



                    <li>
                      <a href="/items/<%= items[i].id %>/edit" class="tooltip-success" data-rel="tooltip" title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                      </a>
                    </li>

                    <li>


                      <form action="api/destroy/items/<%= items[i].id %>" method="post">
                        <!--Specification doesnt allow put or delete method in HTML forms-->
                        <button type="submit" class="tooltip-error" data-rel="tooltip" title="Delete"
                                onclick="return confirm('Are you sure?')">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                        </button>
                      </form>


                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <% } %>

          </tbody>
        </table>
      </div>
      <!-- /.span -->
    </div>
    <!-- /.row -->


  </div>
  <!-- /.col -->
</div><!-- /.row -->
